<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
        <ion-card-title>Card Title</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        Keep close to Nature's heart... and break clear away, once in awhile,
        and climb a mountain or spend a week in the woods. Wash your spirit clean.
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-item (click)="fireAlert()" class="ion-activated">
        <ion-icon name="wifi" slot="start"></ion-icon>
        <ion-label>Fire Alert</ion-label>
      </ion-item>

      <ion-item (click)="takePicture()" class="ion-activated">
        <ion-icon name="camera" ></ion-icon>
        <ion-label>Take picture</ion-label>
      </ion-item>

      
      <ion-item (click)="timing()" class="ion-activated">
        <ion-icon name="locate"></ion-icon>
        <ion-label>{{trackingStart ? "Stop" : "Start"}} tracking</ion-label>
      </ion-item>
      
      <ion-item (click)="launchNotif()" class="ion-activated">
        <ion-icon name="notifications"></ion-icon>
        <ion-label>Get Notif</ion-label>
      </ion-item>
      
      <ion-item routerLink="/camera-preview" class="ion-activated">
        <ion-icon name="camera"></ion-icon>
        <ion-label>Camera Preview</ion-label>
      </ion-item>

      <ion-item routerLink="/login">
        <ion-icon name="warning"></ion-icon>
        <ion-label>Go To Login</ion-label>
      </ion-item>
    </ion-card>


    <ion-card>
      {{print}}
    </ion-card>
    
    <ion-card *ngIf="imgData">
      Photo prise le : {{currentDate.toLocaleDateString()}} à {{currentDate.toLocaleTimeString()}}
      <img [src]="imgData">
    </ion-card>

    <ion-card *ngIf="currentPosAndDate.length != 0">
      <ion-grid>
        <ion-row>
          <ion-col>
            Longitude
          </ion-col>
          <ion-col>
            Latitude
          </ion-col>
          <ion-col>
            Heure
          </ion-col>
        </ion-row>

        <ion-row *ngFor="let posAndDate of currentPosAndDate">
          <ion-col *ngFor="let elem of posAndDate">
            {{elem}}
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>

  </div>
</ion-content>